In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
### Getting the historic data from Weather Underground with their api's for daily temperature.
### Creating dataframe with data from 2010 to 2016. 

urls = ['https://www.wunderground.com/history/airport/KMGE/2010/1/1/CustomHistory.html?dayend=31&monthend=12&yearend=2010&req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo=&format=1',
        'https://www.wunderground.com/history/airport/KMGE/2011/1/1/CustomHistory.html?dayend=31&monthend=12&yearend=2011&req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo=&format=1',
        'https://www.wunderground.com/history/airport/KMGE/2012/1/1/CustomHistory.html?dayend=31&monthend=12&yearend=2012&req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo=&format=1',
        'https://www.wunderground.com/history/airport/KMGE/2013/1/1/CustomHistory.html?dayend=31&monthend=12&yearend=2013&req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo=&format=1',
        'https://www.wunderground.com/history/airport/KMGE/2014/1/1/CustomHistory.html?dayend=31&monthend=12&yearend=2014&req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo=&format=1',
        'https://www.wunderground.com/history/airport/KMGE/2015/1/1/CustomHistory.html?dayend=31&monthend=12&yearend=2015&req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo=&format=1',    
        'https://www.wunderground.com/history/airport/KMGE/2016/1/1/CustomHistory.html?dayend=31&monthend=12&yearend=2016&req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo=&format=1']

dfs = [pd.read_csv(url) for url in urls] # looping to get all six url.

In [18]:
df = pd.concat(dfs) #Creating one dataframe.

In [56]:
### Getting record temperature from weather.com. 
### Creating dataframe with Record hi/low temperature from Jan1 to Dec31. 

data_climatology = pd.read_json('https://dsx.weather.com/wxd/Climatology/01-01/365/30339:4:US')

In [57]:
data_climatology.head()

,climoDate,date,extBegDate,extEndDate,hiC,hiF,loC,loF,meanC,meanF,...,recordHiC,recordHiDate,recordHiF,recordLoC,recordLoDate,recordLoF,snowCm,snowIn,stn,stnNm
0,01/01,2000-01-01,11/13/1957,12/31/2001,11,51,-1,30,5,41,...,23,01/01/1975,74,-16,01/01/1984,4,0.0,0.0,92485,DALLAS 7 NE
1,01/02,2000-01-02,11/13/1957,12/31/2001,11,51,-1,30,5,40,...,21,01/02/2005,70,-12,01/02/1977,10,0.0,0.0,92485,DALLAS 7 NE
2,01/03,2000-01-03,11/13/1957,12/31/2001,11,51,-1,30,5,40,...,21,01/03/2006,70,-13,01/03/1979,9,0.3,0.1,92485,DALLAS 7 NE
3,01/04,2000-01-04,11/13/1957,12/31/2001,11,51,-1,30,5,40,...,24,01/04/2000,76,-11,01/04/2001,12,0.0,0.0,92485,DALLAS 7 NE
4,01/05,2000-01-05,11/13/1957,12/31/2001,11,51,-1,30,5,40,...,23,01/05/2005,74,-14,01/05/1969,6,0.0,0.0,92485,DALLAS 7 NE

In [58]:
### Droping the unwanted columns. 

data_climatology.drop([u'climoDate',
 u'extBegDate',
 u'extEndDate',
 u'hiC',
 u'hiF',
 u'loC',
 u'loF',
 u'meanC',
 u'meanF',
 u'por',
 u'precipCm',
 u'precipIn',
 u'recordHiC',
 u'recordLoC',
 u'snowCm',
 u'snowIn',
 u'stn',
 u'stnNm'], axis = 1, inplace=True)

In [63]:
data_climatology.describe()

        recordHiF   recordLoF
count  365.000000  365.000000
mean    87.008219   29.550685
std      9.899908   18.409141
min     66.000000  -12.000000
25%     78.000000   13.000000
50%     88.000000   29.000000
75%     96.000000   46.000000
max    104.000000   60.000000

In [20]:
df.describe()

,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressureIn,Mean Sea Level PressureIn,Min Sea Level PressureIn,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover
count,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,1357.000000,2557.000000,2557.000000
mean,71.942902,62.009386,52.269847,55.755573,51.079390,45.525225,90.714509,71.513883,47.055534,30.144630,30.068436,29.996042,9.993743,9.077434,6.682440,13.822057,5.644505,24.782609,0.114478,4.078999
std,15.772761,15.292528,15.812425,15.595210,16.736998,18.308665,9.965582,14.860367,16.954165,0.151487,0.153322,0.159619,0.136895,1.553766,3.710164,5.310766,3.237946,6.613479,0.307987,2.549973
min,22.000000,13.000000,4.000000,3.000000,-4.000000,-13.000000,41.000000,27.000000,9.000000,29.640000,29.530000,29.400000,5.000000,1.000000,0.000000,0.000000,0.000000,16.000000,0.000000,0.000000
25%,60.000000,50.000000,39.000000,45.000000,39.000000,31.000000,86.000000,61.000000,35.000000,30.040000,29.970000,29.900000,10.000000,9.000000,3.000000,10.000000,3.000000,20.000000,0.000000,2.000000
50%,75.000000,64.000000,54.000000,59.000000,54.000000,48.000000,93.000000,71.000000,46.000000,30.130000,30.060000,29.990000,10.000000,10.000000,8.000000,13.000000,5.000000,23.000000,0.000000,4.000000
75%,85.000000,76.000000,67.000000,69.000000,65.000000,62.000000,100.000000,84.000000,57.000000,30.240000,30.160000,30.100000,10.000000,10.000000,10.000000,16.000000,7.000000,28.000000,0.030000,6.000000
max,103.000000,91.000000,79.000000,78.000000,76.000000,73.000000,100.000000,100.000000,100.000000,30.650000,30.570000,30.530000,10.000000,10.000000,10.000000,41.000000,22.000000,70.000000,2.650000,8.000000

In [26]:
df1 = df

In [27]:
df2 = df1.dropna(axis = 1, how = 'any') #removing columns with null values.

In [41]:
#droping unneccery columns. 

df2.drop([ ' Max VisibilityMiles',
 ' Mean VisibilityMiles',
 ' Min VisibilityMiles',
 ' Max Wind SpeedMPH',
 ' Mean Wind SpeedMPH', 
 ' CloudCover',
 ' WindDirDegrees<br />'], axis=1, inplace=True)

/Users/iwdhoury/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [42]:
df2.describe()

,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressureIn,Mean Sea Level PressureIn,Min Sea Level PressureIn,PrecipitationIn
count,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000
mean,71.942902,62.009386,52.269847,55.755573,51.079390,45.525225,90.714509,71.513883,47.055534,30.144630,30.068436,29.996042,0.114478
std,15.772761,15.292528,15.812425,15.595210,16.736998,18.308665,9.965582,14.860367,16.954165,0.151487,0.153322,0.159619,0.307987
min,22.000000,13.000000,4.000000,3.000000,-4.000000,-13.000000,41.000000,27.000000,9.000000,29.640000,29.530000,29.400000,0.000000
25%,60.000000,50.000000,39.000000,45.000000,39.000000,31.000000,86.000000,61.000000,35.000000,30.040000,29.970000,29.900000,0.000000
50%,75.000000,64.000000,54.000000,59.000000,54.000000,48.000000,93.000000,71.000000,46.000000,30.130000,30.060000,29.990000,0.000000
75%,85.000000,76.000000,67.000000,69.000000,65.000000,62.000000,100.000000,84.000000,57.000000,30.240000,30.160000,30.100000,0.030000
max,103.000000,91.000000,79.000000,78.000000,76.000000,73.000000,100.000000,100.000000,100.000000,30.650000,30.570000,30.530000,2.650000